.prviOdlomak {
	color: red;
	font-family: Times New Roman;
	text-align: center;
    font-size: 1.1em;
}

#odlomak2 {
	text-align: justify;
	font-family: Verdana;
}

div p{
	text-align: left;
	font-style: italic;
	font-family: Comic Sans;
}

.naslov{
	text-align: center;
	color: red;
}

body{
	font-size: 100%;
}