#linkNaPrvu:link{
	color: gray;
	position: absolute;
	bottom: 10px;
}

#linkNaPrvu:hover{
	color: black;
}

#oznaka li{
	display: inline;
	list-style-position: outside;
	border-width: 2px;
	border-color: #345678;
	border-style: solid;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 8px;
}

#oznaka li a{
	border-width: 2px;
	color: yellow;
	border-color: #FFFF00;
	background-color: #16cae1;
}

#oznaka li a:hover{
	color:black;
	border-color: #FF6347;
}

#oznaka li a:active{
	color: red;
	background-color: #7CF00;
	border-color: #FF0000;
}

