header, nav, main, footer {
    border-style: solid;
	border-width: 5px;
	border-color: red;
	margin-bottom: 5px;
}

article {
    border-style: solid;
	border-width: 5px;
	border-color: black;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-top: 5px;
	height: 100px;
	width: 500px;
	
}

aside {
	border: 5px solid black;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 300px;
	width: 200px;
	float: right;
}

section{
	margin-top: 5px;
	float: left;
}

section, aside{
	display: inline-block;
}

main{
	overflow: auto;
}

